.btn{
	outline: none;
	border: none;
	min-width: 120px;
	min-height: 45px;
}

.btn__mode{
	cursor: pointer;
	width: 220px;
	height: 65px;
	border-radius: var(--border-radius);
	font-size: 16px;
	font-weight: 600;
}

.btn__mode--easy{
	border: 2px solid black;
	color: black;
}

.btn__mode--hard{
	border: none;
	background-color: black;
	color: white;
}

.btn__answer{
	cursor: pointer;
	color: white;
	font-size: var(--font-sm);
	font-weight: 600;
	width: 220px;
	height: 65px;
	border-radius: var(--border-radius);
}

.btn__answer--true{
	background-color: var(--green);
}

.btn__answer--false{
	background-color: var(--dark-red);
}

.btn__play{
	width: 120px;
	height: 45px;
	background-color: var(--green);
	color: white;
	font-size: var(--font-sm);
	font-weight: 600;
	border-radius: var(--border-radius);
}