.container__splash{
    height: 55vh;
    justify-content: space-between;
}

.btn-container{
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}

.mode{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
}