.header {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 1024px;
	height: 100px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-md);
	font-weight: 700;
	background-color: white;
	border-bottom: 2px solid black;
}