.header {
	position: fixed;
	z-index: 10;
	top: 0;
	margin: 0 auto;
	width: 1024px;
	height: 100px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	font-size: var(--font-md);
	font-weight: 700;
	background-color: white;
	border-bottom: 2px solid black;
}

.header span{
	-webkit-animation: slide-bottom 0.2s cubic-bezier(.22,.68,0,1.71) both;
    animation: slide-bottom 0.2s cubic-bezier(.22,.68,0,1.71) both;
}