::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

.container__stats{
    padding-top: 150px;
    height: auto;
}

.result{
    padding-bottom: 40px;
    -webkit-animation: slide-bottom 0.2s cubic-bezier(.22,.68,0,1.71) both;
    animation: slide-bottom 0.2s cubic-bezier(.22,.68,0,1.71) both;
}