@import url('./components/Wrapper/wrapper.css'); 
@import url('./components/Quiz/quiz.css'); 
@import url('./components/UI/Button/button.css');
@import url('./components/Splash/splash.css');
@import url('./components/Quiz/quiz.css');
@import url('./components/UI/Typo/typography.css');
@import url('./components/UI/Card/card.css');
@import url('./components/Stats/stats.css');

:root{
    --purple: #4618FF;
    --green: #60efb8;
    --red: #ff5f5f;
    --dark-red: #fa4659;

    --border-radius: 8px;

    --font-sm: 14px;
    --font-md: 18px;
    --font-lg: 22px;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }